body {
    
    width: 1870px;
    height: 970px;
    background-color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;

}

.imageBackground {
    
    height: 1870px;
    width: 970px;
    position: absolute;
    top: -4000%;
    color: white;
    
}

.imageHome {
    
    height: 100px;
    width: 100px;
    position: fixed;
    z-index: -1;
    top: -1px;
    
}

.imageInstagram {
    
    z-index: 1;
    height: 80px;
    width: 80px;
    position: fixed;
    z-index: 1;
    bottom: 978px;
    margin-left: 1750px;
    
}



#nav {
    
    background-color: #6E7A7F;
    font-size: 26px;
    font-family: Arial;
    
}

#nav_wrapper {
    
    width: 1870px;
    height: 106px;
    margin: 10;
    text-align: left;
    
}

#nav ul {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 230px;
    position: relative;
    border-radius: 5px;
    z-index: 1;
    
}

#nav ul li {
    
    margin-top: 43px;
    display: inline-block;
    text-decoration: none;
    
}

#nav ul li a,visited {
    
    display: block;
    padding: 20px;
    text-decoration: none;
    
}

#nav ul li a,hover {
   
    text-decoration: none;
    
}

#nav ul li:hover ul {
    
    display: block;
    text-decoration: none;
    
}

#nav ul ul {
    
    display: none;
    position: absolute;
    text-decoration: none;
    
}

#nav ul li ul {
    
    background-color: #6E7A7F;
    margin-top: 20px;
    text-decoration: none;
    
}

#nav ul ul li {
    
    display: block;
    text-decoration: none;
    margin-top: -2px;
    
}

#nav ul ul li a,visited {
    
    text-decoration: none;
    color: white;
    
}





#circle2 {
      
    width: 800px;
    height: 800px;
    border-radius: 525px;
    background: #C2D3DA;
    margin: auto;
    margin-top: 100px;
    position: relative;
    opacity: 0.4;
    }

#circle2:hover {
 
    opacity: 0.3;   
        
}

#circle1 {
      
    width: 550px;
    height: 550px;
    border-radius: 325px;
    background: #6E7A7F; 
    position: absolute;
    margin-bottom: 190px;
    margin-left: 630px;
    margin-right: 180px;
    margin-top: 191px;
    padding : 30px;
    visibility: visible;
    border: 1px solid black;
    opacity: 0.6;
    z-index: 1;
    }

#circle1:hover {
 
    opacity: 0.7;
        
}





p {
    
    color: white;
    font-family: cursive, Georgia;
    text-align: center;
    margin-top: -590px;
    font-size: 122px;
    z-index: 1;
    position: relative;
    opacity: 1;
    text-decoration: none;
    margin-left: -15px;
    
}

.imageBird {
    
    float: inherit;
    position: absolute;
    left: 800px;
    top: 600px;
    height: 270px;
    z-index: 1;
    color: white;
    
}




.container {
  max-width: 1870px;
  max-height: 970px;
  margin: auto;
  text-align: left;
  position: relative;
  z-index: -1;
}


.container div {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
  opacity: 0.5;
}

.container img {
  width: 100%;
  height: auto;
}










