body {    
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.imageHome {    
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
}

.imageInstagram {   
    float:right;
    width: 100px;
    height: 100px;    
    background-image: url("https://cdn4.iconfinder.com/data/icons/social-icons-6/40/instagram-128.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
        
.imageBackground {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/96/Milestone_Hotel.jpg");
    background-repeat: no-repeat;
}

#nav {   
    background-color: #6E7A7F;
    font-size: 180%;
    font-family: Arial;
}

#nav_wrapper {
    height: 106px;
    margin: 10;
    text-align: left;
}

#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 36%;
    position: relative;
    border-radius: 1%;
    z-index: 1;
}

#nav ul li {
    margin-top: 13%;
    display: inline-block;
    text-decoration: none;
}

#nav ul li a,visited {
    display: block;
    padding: 6%;
    text-decoration: none;
}

#nav ul li a,hover {
    text-decoration: none;
}

#nav ul li:hover ul { 
    display: block;
    text-decoration: none;  
}

#nav ul ul {
    display: none;
    position: absolute;
    text-decoration: none;
}

#nav ul li ul {
    background-color: #6E7A7F;
    margin-top: 1%;
    text-decoration: none; 
}

#nav ul ul li {
    display: block;
    text-decoration: none;
    margin-top: 0; 
}

#nav ul ul li a,visited {
    text-decoration: none;
    color: white;
}

#circle1 {
    margin: auto;
    margin-top: 40px;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    background: #6E7A7F; 
    padding : 0.5%;
    visibility: visible;
    border: 1px solid black;
    opacity: 0.8;
    z-index: 1;
}

#circle2 {     
    margin: auto;
    margin-top: 7%;
    width: 85%;
    height: 85%;
    border-radius: 100%;
    background: #C2D3DA;
    border: 1px solid black;
    align-content: center;
}

.imageBird {    
    margin: auto;  
    display: block;
    background-image: url("http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/3d-transparent-glass-icons-animals/010306-3d-transparent-glass-icon-animals-animal-bird.png");
    background-position: 60% 90%;
    background-repeat: no-repeat;
    background-size: 70% 100%;
}

p {    
    color: white;
    font-family: cursive, Georgia;
    text-align: center;
    font-size: 800%;
    opacity: 1;
}









@media only screen and (min-width : 360px) and (max-width : 555px)
{

#nav {   
    font-size: 155%;
}

#nav ul {
    width: 60%;
}

#nav ul li {
    margin-top: 30%;
}

#circle1 {
    width: 500px;
    height: 500px;
}

.imageBird {    
    background-size: 70% 90%;
}
    
}



