body { 
    height: 100%;
    max-width: 1905px;
    background-color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.imageHome {    
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
}

.imageInstagram { 
    float:right;
    width: 100px;
    height: 100px;    
    background-image: url("Bilder/instagram-128.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.imageBackgroundomoss {
    background-image: url("Bilder/Park.jpg");
    background-repeat: no-repeat;
}

.imageBackgroundboka {
   background-image: url("Bilder/Hotellrum.jpg");
    background-repeat: no-repeat; 
}

.imageBackgroundhitta {
   background-image: url("Bilder/Malmo.jpg");
    background-repeat: no-repeat; 
}

.imageBackgroundkontakt {
   background-image: url("Bilder/Restaurang.jpg");
    background-repeat: no-repeat; 
}

.imageBackgroundkonferens {
   background-image: url("Bilder/Konferensrum.jpg");
    background-repeat: no-repeat;    
}

#nav {
    background-color: #6E7A7F;
    font-size: 155%;
    font-family: Arial;
}

#nav_wrapper {
    height: 106px;
    margin: 10;
    text-align: left;
}

#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 35%;
    position: relative;
    border-radius: 1%;
    z-index: 1;
}

#nav ul li {
    margin-top: 13%;
    display: inline-block;
    text-decoration: none;   
}

#nav ul li a,visited {
    
    display: block;
    padding: 8%;
    text-decoration: none;
    
}

#nav ul li a,hover {
    text-decoration: none;  
}

#nav ul li:hover ul {
    display: block;
    text-decoration: none;
}

#nav ul ul {
    display: none;
    position: absolute;
    text-decoration: none;
}

#nav ul li ul {
    background-color: #6E7A7F;
    margin-top: 1%;
    text-decoration: none;
}

#nav ul ul li {
    display: block;
    text-decoration: none;
    margin-top: 0; 
}

#nav ul ul li a,visited { 
    text-decoration: none;
    color: white;    
}

.left {
    top: -20px;
    width: 30%;
    height: 9000px;;
    background: #ffffff; 
    position: relative;
    float: left;
    padding : 1%;
    visibility: visible;
    opacity: 0.8;
    z-index: -1;
}

.right {
    top: -20px;
    width: 30%;
    height: 9000px;;
    background: #ffffff; 
    position: relative;
    float: right;
    padding : 1%;
    visibility: visible;
    opacity: 0.8; 
    z-index: -1;    
}

#omossLeft {  
    font-family: serif;
    font-size: 138%;
    word-spacing: 3px;
    margin-top: 30px;  
}

#omossRight {
    font-family: serif;
    font-size: 138%;
    word-spacing: 3px;
    margin-top: 30px; 
}

#bokaLeft {
    
    font-family: serif;
    font-size: 150%;
    margin-top: -6%; 
    z-index: -1;
}

#bokaRight {
    font-family: serif;
    font-size: 150%;
    margin-top: 1%;  
}

.bokaruta {
    position: relative;
    z-index: 10;
    float: left;
    left: -30%;
    top: 270px; 
}

h2 {
    font-size: 200%;
}

.inpnamn {
    height: 35px;
    width: 190%;
    border: 1%, solid, darkgrey;
    font-size: 130%;
    color: black;
    position: relative;
    z-index: 1000px;
}

.namn{ 
    font-size: 140%;
}

.inpefternamn {
    height: 35px;
    width: 190%;
    border: 1%, solid, darkgrey;
    z-index: 1000;
    font-size: 130%;
    color: black;
    position: relative;
}

.efternamn{ 
    font-size: 140%;
}

.inpemail {
    height: 35px;
    width: 190%;
    border: 1%, solid, darkgrey;
    z-index: 1000;
    font-size: 130%;
    color: black;
    position: relative;
}

.email{ 
    font-size: 140%;
}

.inprum {
    height: 35px;
    width: 100%;
    border: 1%, solid, darkgrey;
    z-index: 1000;
    font-size: 130%;
    color: black;
    position: relative;  
}

.rum{ 
    font-size: 140%;
}

.inpvuxna {
    height: 35px;
    width: 100%;
    border: 1%, solid, darkgrey;
    z-index: 1000;
    font-size: 130%;
    color: black;
    position: relative;  
}

.vuxna{ 
    font-size: 140%;
}

.inpbarn {
    height: 35px;
    width: 100%;
    border: 1%, solid, darkgrey;
    z-index: 1000;
    font-size: 130%;
    color: black;
    position: relative;   
}

.barn{ 
    font-size: 140%;
}

.sök {
    height: 35px;
    width: 40%;
    font-size: 100%;
    border-radius: 50%;
    z-index: 1000; 
}




#konferensLeft {
    font-family: serif;
    font-size: 140%;
    margin-top: 1%;  
}

p1 {
    
    font-size: 140%;
}

.information {
    
    padding-top: 1% ;
}

#konferensRight { 
    font-family: serif;
    font-size: 140%;
    margin-top: 1%;   
}

#hittaLeft {
    font-family: serif;
    font-size: 140%;
    word-spacing: 5px;
    margin-top: 1%;  
}

#kontaktRight { 
    font-family: serif;
    font-size: 140%;
    margin-top: 1%; 
}











@media only screen and (min-width : 360px) and (max-width : 555px)
{

body { 
    margin: auto;
    height: 100%;
    overflow: scroll;
}
    
#nav {   
    font-size: 155%;
}

#nav ul {
    width: 60%;
}

#nav ul li {
    margin-top: 30%;
}

.left {
    top: auto;
    width: 98%; 
    position: relative;
    float: inherit;
    height: auto;
}

.right {
    height: auto;
    top: auto;
    width: 98%;
    position: relative;
    float: inherit;   
}
  
    
    
    
    
    
    
    
    
#bokaLeft {
    font-family: serif;
    font-size: 150%;
    margin-top: -auto;
}

#bokaRight {
    font-family: serif;
    font-size: 150%;
    margin-top: 120%;
}

.bokaruta {
    position: relative;
    z-index: 10;
    top: auto;
    left: 5%;
    float: left;
    }

h2 {
    font-size: 180%;
}

.inpnamn {
    height: 30px;
    width: 150%;
    font-size: 100%;
}

.namn{ 
    font-size: 130%;
}

.inpefternamn {
    height: 30px;
    width: 150%;
    font-size: 100%;
}

.efternamn{ 
    font-size: 130%;
}

.inpemail {
    height: 30px;
    width: 150%;
    font-size: 100%;
}

.email{ 
    font-size: 130%;
}

.inprum {
    height: 30px;
    width: 100%;
    font-size: 100%; 
}

.rum{ 
    font-size: 130%;
}

.inpvuxna {
    height: 30px;
    width: 100%;
    z-index: 1000;
    font-size: 100%;
}

.vuxna{ 
    font-size: 130%;
}

.inpbarn {
    height: 30px;
    width: 100%;
    z-index: 1000;
    font-size: 100%;  
}

.barn{ 
    font-size: 130%;
}

.sök {
    height: 35px;
    width: 40%;
    font-size: 100%;
    border-radius: 50%;
    z-index: 1000; 
}
 
.imageBackgroundomoss {
    background-size: cover;
}
 
.imageBackgroundboka {
    background-size: cover;
}

.imageBackgroundhitta {
    background-size: cover;
}

.imageBackgroundkonferens {
    background-size: cover;
}
    
}   
