body {    
    height: 100%;
    max-width: 1905px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.imageHome {    
    height: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
}

.imageInstagram {  
    float:right;
    width: 80px;
    height: 80px;    
    background-image: url("Bilder/instagram-128.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.imageBackgroundomoss {
    background-image: url("Bilder/Park.jpg");
    background-repeat: no-repeat;
}

.imageBackgroundboka {
   background-image: url("Bilder/Hotellrum.jpg");
    background-repeat: no-repeat; 
}

.imageBackgroundhitta {
   background-image: url("Bilder/Malmo.jpg");
    background-repeat: no-repeat; 
}

.imageBackgroundkontakt {
   background-image: url("Bilder/Restaurang.jpg");
    background-repeat: no-repeat; 
}

.imageBackgroundkonferens {
   background-image: url("Bilder/Konferensrum.jpg");
    background-repeat: no-repeat;    
}

#nav {   
    background-color: #6E7A7F;
    font-size: 120%;
    font-family: Arial;
}

#nav_wrapper {
    height: 87px;
    text-align: left;
}

#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 36%;
    position: relative;
    border-radius: 1%;
    z-index: 1;
}

#nav ul li {
    margin-top: 15%;
    display: inline-block;
    text-decoration: none;
}

#nav ul li a,visited {
    display: block;
    padding: 6%;
    text-decoration: none;
}

#nav ul li a,hover {
    display: block;
    text-decoration: none;
}

#nav ul li:hover ul { 
    display: block;
    text-decoration: none;  
}

#nav ul ul {
    display: none;
    position: absolute;
    text-decoration: none;
}

#nav ul li ul {
    background-color: #6E7A7F;
    margin-top: 1%;
    text-decoration: none; 
}

#nav ul ul li {
    display: block;
    text-decoration: none;
    margin-top: 0; 
}

#nav ul ul li a,visited {
    text-decoration: none;
    color: white;
}

.left {
    top: -20px;
    width: 30%;
    height: 9000px;;
    background: #ffffff; 
    position: relative;
    float: left;
    padding : 1%;
    visibility: visible;
    opacity: 0.8;
    z-index: -1;
}

.right {
    top: -20px;
    width: 30%;
    height: 9000px;;
    background: #ffffff; 
    position: relative;
    float: right;
    padding : 1%;
    visibility: visible;
    opacity: 0.8; 
    z-index: -1;    
}

#omossLeft {  
    font-family: serif;
    font-size: 103%;
    word-spacing: 1px;
    margin-top: 10px;  
}

#omossRight {
    font-family: serif;
    font-size: 103%;
    word-spacing: 1px;
    margin-top: 10px; 
}

#bokaLeft {
    font-family: serif;
    font-size: 103%;
    margin-top: 1%; 
    z-index: -1;
}

#bokaRight {
    font-family: serif;
    font-size: 103%;
    margin-top: 1%;  
}

.bokaruta {
    position: relative;
    z-index: 10;
    float: left;
    left: -30%;
    top: 210px; 
}

h2 {
    font-size: 115%;
}

.inpnamn {
    height: 20px;
    width: 130%;
    border: 1px, solid, darkgrey;
    font-size: 100%;
    color: black;
    position: relative;
    z-index: 1000;
}

.namn{ 
    font-size: 100%;
}

.inpefternamn {
    height: 20px;
    width: 130%;
    border: 1px, solid, darkgrey;
    z-index: 1000;
    font-size: 100%;
    color: black;
    position: relative;
}

.efternamn{ 
    font-size: 100%;
}

.inpemail {
    height: 20px;
    width: 130%;
    border: 1px, solid, darkgrey;
    z-index: 1000;
    font-size: 100%;
    color: black;
    position: relative;
}

.email{ 
    font-size: 100%;
}

.inprum {
    height: 20px;
    width: 100%;
    border: 1px, solid, darkgrey;
    z-index: 1000;
    font-size: 100%;
    color: black;
    position: relative;  
}

.rum{ 
    font-size: 100%;
}

.inpvuxna {
    height: 20px;
    width: 100%;
    border: 1px, solid, darkgrey;
    z-index: 1000;
    font-size: 100%;
    color: black;
    position: relative;  
}

.vuxna{ 
    font-size: 100%;
}

.inpbarn {
    height: 20px;
    width: 100%;
    border: 1px, solid, darkgrey;
    z-index: 1000;
    font-size: 100%;
    color: black;
    position: relative;   
}

.barn{ 
    font-size: 100%;
}

.sök {
    height: 20px;
    width: 20%;
    font-size: 60%;
    border-radius: 50%;
    z-index: 1000; 
}

#konferensLeft {
    font-family: serif;
    font-size: 103%;
    margin-top: 5%;  
}

#konferensRight { 
    font-family: serif;
    font-size: 103%;
    margin-top: 5%;   
}

#hittaLeft {
    font-family: serif;
    font-size: 103%;
    word-spacing: 3px;
    margin-top: 5%;  
}

#kontaktRight { 
    font-family: serif;
    font-size: 103%;
    margin-top: 5%; 
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5%;
  background-color: #6E7A7F;
  text-align: center;
  font-size: 12px;
  color: white;
}

@media only screen and (min-width : 360px) and (max-width : 555px)
{

body { 
    margin: auto;
    height: 100%;
    overflow: scroll;
}
    
#nav {   
    font-size: 125%;
}

#nav ul {
    width: 65%;
     border-radius: 3%;
}

#nav ul li {
    margin-top: 30%;
}

.left {
    top: auto;
    width: 98%; 
    position: relative;
    float: inherit;
    height: auto;
}

.right {
    height: auto;
    top: auto;
    width: 98%;
    position: relative;
    float: inherit;   
}
  
#bokaLeft {
    font-family: serif;
    font-size: 103%;
    margin-top: auto;
}

#bokaRight {
    font-family: serif;
    font-size: 103%;
    margin-top: 140%;
}

.bokaruta {
    position: relative;
    z-index: 10;
    top: auto;
    left: 5%;
    float: left;
    }

h2 {
    font-size: 130%;
}

.inpnamn {
    height: 25px;
    width: 140%;
    font-size: 90%;
}

.namn{ 
    font-size: 100%;
}

.inpefternamn {
    height: 25px;
    width: 140%;
    font-size: 90%;
}

.efternamn{ 
    font-size: 100%;
}

.inpemail {
    height: 25px;
    width: 140%;
    font-size: 90%;
}

.email{ 
    font-size: 100%;
}

.inprum {
    height: 25px;
    width: 100%;
    font-size: 90%; 
}

.rum{ 
    font-size: 100%;
}

.inpvuxna {
    height: 25px;
    width: 100%;
    font-size: 90%;
}

.vuxna{ 
    font-size: 100%;
}

.inpbarn {
    height: 25px;
    width: 100%;
    font-size: 90%;  
}

.barn{ 
    font-size: 100%;
}

.sök {
    height: 20px;
    width: 25%;
    font-size: 70%;
    border-radius: 50%;
    z-index: 1000; 
}
 
.imageBackgroundomoss {
    
}
 
.imageBackgroundboka {
    
}

.imageBackgroundkonferens {
    
}
  
.footer {
  display: none;
}
    
}   
